pkgbase = view-dock
	pkgdesc = Use an iPad or Android device as an extended second display for Linux (X11)
	pkgver = 2.0.3
	pkgrel = 1
	url = https://github.com/JamesLunaa/view-dock
	arch = any
	license = GPL-3.0-or-later
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-av
	depends = python-websockets
	depends = python-zeroconf
	depends = python-jsonschema
	depends = python-mss
	depends = python-numpy
	depends = python-xlib
	depends = python-aiortc
	depends = python-uinput
	depends = ffmpeg
	depends = xorg-server
	depends = xorg-xrandr
	depends = xf86-video-dummy
	optdepends = usbmuxd: iPad over USB (the -git versions of usbmuxd/libimobiledevice are known to work)
	optdepends = libimobiledevice: iPad over USB
	optdepends = android-tools: Android over USB (adb forward)
	optdepends = pyside6: tray applet (python -m host.gui)
	source = view-dock-2.0.3.tar.gz::https://github.com/JamesLunaa/view-dock/archive/refs/tags/v2.0.3.tar.gz
	sha256sums = 3726605361523c31b4334b2662728407311274a0ce0d46ed8abbebf50c5accb6

pkgname = view-dock
